{
  "project_info": {
    "project_number": "66345309507",
    "project_id": "peopledesk-4463d",
    "storage_bucket": "peopledesk-4463d.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:66345309507:android:ae394dbb87fdbfd1c74bf6",
        "android_client_info": {
          "package_name": "com.peopledesk"
        }
      },
      "oauth_client": [
        {
          "client_id": "66345309507-4jvdgv5nnt957f2hprcgc8p7e6r5pj8v.apps.googleusercontent.com",
          "client_type": 1,
          "android_info": {
            "package_name": "com.peopledesk",
            "certificate_hash": "26b85b90d0cdc43d11d673343efe03b9c4cd17b5"
          }
        },
        {
          "client_id": "66345309507-d15phik256601vlfub3u7jkus947b70r.apps.googleusercontent.com",
          "client_type": 1,
          "android_info": {
            "package_name": "com.peopledesk",
            "certificate_hash": "6245c63e67153fead2cdc84790a957e03df5e2dc"
          }
        },
        {
          "client_id": "66345309507-f3cp78co11204t2gh513cb8fas748bvs.apps.googleusercontent.com",
          "client_type": 1,
          "android_info": {
            "package_name": "com.peopledesk",
            "certificate_hash": "5e8f16062ea3cd2c4a0d547876baa6f38cabf625"
          }
        },
        {
          "client_id": "66345309507-rjicrnep1umh7h8nptl8kkf36ik0cmkm.apps.googleusercontent.com",
          "client_type": 3
        }
      ],
      "api_key": [
        {
          "current_key": "${FIREBASE_API_KEY}"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": [
            {
              "client_id": "66345309507-p18h8bka28latbrcnugvb43apetihrop.apps.googleusercontent.com",
              "client_type": 3
            },
            {
              "client_id": "66345309507-2ll88eup4nf5kc596lpatmkj5n47ss8a.apps.googleusercontent.com",
              "client_type": 2,
              "ios_info": {
                "bundle_id": "apptest.PeopleDesk",
                "app_store_id": "1601770634"
              }
            }
          ]
        }
      }
    }
  ],
  "configuration_version": "1"
}